{% import 'AqpglugCodemedoBundle:Macros:image.html.twig' as image %}

<ul class="article_featured">
    {% for article in results %}
    <li class="article">
        <a href="{{ path('_article_show', {'slug': article.slug} ) }}">
            <h3>{{ article.title }}</h3>
            <img src="{{ image.or_default( article.image, 'http://lorempixum.com/g/80/80/technics/' ~ article.slug) }}" alt="{{ article.title }}" />
        </a>
    </li>
    {% endfor %}
</ul>