{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="article">{{ article.content|raw }}</div>
{% endblock %}
