{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="article">
        <h2>{{ article.title }}</h2>
        {{ article.content|raw }}
    </div>
{% endblock %}
