.list {
    width: 100%;
}

.list .even {
    background: #eee;
}

.list tbody tr {
    line-height: 2em;
    overflow: hidden;
}

.list tbody tr a {
    color: #292929;
    font-weight: bold;
}

.list tbody tr:hover {
    background: #ccc;
}

.list tbody .title a {
    display: block;
    text-decoration: none;
}

.list tbody td {
    padding: 0 5px;
}

.list .id { width: 2%; }
.list .title { width: 36%; }
.list .slug { width: 36%; }
.list .pub { width: 2%; text-align: center; }
.list .feat { width: 2%; text-align: center; }
.list .date { width: 16%; text-align: center; }
.list .actions { width: 6%; text-align: center; }

.list thead th {
    text-transform: uppercase;
    line-height: 1.5em;
    padding: 0 10px;
    color:#fff;
    text-align: center;
    background-color:#292929;
    border-left:1px dotted #666;
    border-top:3px solid #666;
}

.list thead:first-child{
    border-left:none;
}

.paginator .currentpage {
    color: #efbe15;
    font-weight: bold;
}

/* FORM */

#block {
    overflow: auto;
}

form.block .buttons {
    text-align: right;
    margin-right: 20px;
}
form.block .buttons input {
    width: auto;
    padding: 0 20px;
    margin: 0 10px;
}

form.block input {
    border: 1px solid #333;
    width: 200px;
}

form.block input[type="checkbox"] {
    width: auto;
}

form.block label:after {
    content: ':';
}

form.block label {
    width: 80px;
    display: inline-block;
    color: #333;
}
form.block .content {
    float: right;
    width: 580px;
    margin-right: 20px;
}

form.block label.content {
    margin-top: 2px;
}
form.block textarea.content {
    clear: right;
    height: 280px;
}

#block > div {
    margin: 5px 0 0 20px;
}
#block_metadata {
    margin-left:10px;
}
#block_metadata label {
    width: 60px;
}
#block_metadata_date {
    margin-left: 30px;
}
#datepicker {
    font-size: 80%;
    margin: 5px 0;
}

#datepicker .ui-datepicker-header {
    height: 1.8em;
}