#admin {
}

#admin .menu {
    background: #292929;
    margin: -15px 0 15px -15px;
    width: 940px;
    border-top: 1px solid #666;
    padding: 5px 10px;
}

#admin .menu li {
    border-left: #efbe15 1px dotted;
}

#admin .menu li:first-child {
    border-left: none;
}

#admin .menu a {
    color: #fff;
}

#admin .menu span {
    color: #fff;
    font-size: 1.5em;
}

#admin .submenu {
    border-top: 2px solid #999;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

a.new {
    display: block;
    font-size: 16px;
    color:#fff;
    background-color:#759e1a;
}

.list {
    width: 100%;
}

.list a {
    color: #292929;
    font-weight: bold;
}

.list .even {
    background: #eee;
}

.list tbody tr {
    line-height: 2em;
    overflow: hidden;
}

.list .id { width: 2%; }
.list .title { width: 38%; }
.list .slug { width: 38%; }
.list .pub { width: 3%; text-align: center; }
.list .feat { width: 3%; text-align: center; }
.list .date { width: 14%; }
.list .actions { width: 2%; text-align: right; }

.list thead th {
    padding: 0 10px;
    color:#fff;
    text-align: center;
    background-color:#292929;
    border-left:1px dotted #666;
    border-top:3px solid #666;
}

.list thead:first-child{
    border-left:none;
}