body {
    font-size: 13px;
}

#container {
    width: 960px;
    margin: 0 auto;
    font-family: cursive;
}

#header {
    height: 100px;
    position: relative;
}

#header h1 {
    float: left;
    width: 300px;
    height: 100%;
    font-size: 3em;
}

#header #search {
    position: absolute;
    top: 10px;
    right: 20px;
    background: url('/bundles/aqpglugcodemedo/images/icons/search.png') no-repeat;
    background-position: 3px;
    padding: 3px 10px 3px 23px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#header ul {
    position: absolute;
    top: 75px;
    right: 0;
    float: right;
}

#header hr {
    clear: both;
}


#content {
    clear: both;
}

/* MENU */

ul.menu {
    
}

ul.menu li {
    display: inline;
    border-left: solid 1px black;
    padding: 0 10px
}

ul.menu li:first-child {
    border-left: none;
}

/* BASE */
.paginator li 
{
    display: inline;
}

/* ARTICLE */

#articles {
    width: 800px;
    margin: 0 auto;
}

#articles .article img {
    width: 80px;
    height: 80px;
}


#articles .article h3 {
    font-size: 1.2em;
}

.article_featured {
    width: 660px;
    margin: 0 auto;
}

.article_featured .article {
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 21px;
    border: 2px solid;
    border-style: groove;
}

.article_featured .article img {
    position: absolute;
    bottom: 10px;
    left: 45px;
}

.article_list {
    margin-top: 30px;
}

.article_list .article {
    width: 360px;
    height: 80px;
    float: left;
    margin: 20px;
}

.article_list .article img {
    float: left;
    margin-right: 20px;
}

/* EVENT */

#event_content {
    width: 700px;
    float: left;
}

#event_info {
    width: 200px;
    float: right;
}

/* ADMIN */
