#content h1 {
    margin-left: 20px;
}
.members {
    -webkit-column-count: 3;
    column-count: 3;
    margin: 0 60px;
}
.members img {
    vertical-align: middle;
}
.nav {
    top:-50px;
}
.nav li {
    position:absolute;
    display: block;
    top: 300px;
}
.nav .left {
    left:20px;
}
.nav .right {
    right:20px;
}