{% extends 'AqpglugCodemedoBundle:Admin:layout.html.twig' %}

{% block admin %}
<form class="block" action="{{ form_action }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Guardar" />
    <a href="{{ path('_admin_list', {'type': type }) }}" >cancelar</a>
</form>
{% endblock %}
