{% extends 'AqpglugCodemedoBundle:Admin:layout.html.twig' %}

{% block admin %}
<form action="{{ form_action }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
    <a href="{{ path('_admin_index') }}" >cancelar</a>
</form>
{% endblock %}
