{% extends 'AqpglugCodemedoBundle:Admin:layout.html.twig' %}



{% block admin %}
<form action="{{ path('_admin_new', {'type': type }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
    <a href="{{ path('_admin_index') }}" >cancelar</a>
</form>
{% endblock %}
