{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block content %}
    <a href="{{ path('_admin_new') }}" >Nuevo</a>

    <ul>
    {% for article in articles %}
        <li>{{ article.type }}: <a href="{{ path("_admin_edit", {'id': article.id}) }}">{{ article.title }}</a></li>
    {% else %}
        <li>no hay articulos</li>
    {% endfor %}
    </ul>
{% endblock %}