{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}

<ul class="admin menu">
{% for type, label in get_labels %}
    <li><a href="{{ path('_admin_list', {'type': type }) }}" >{{ label }}</a></li>
{% endfor %}
</ul>
{% block admin %}
{% endblock %}

{% endblock %}
