{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/admin.css') }}" />
{% endblock %}

{% block content %}
<div id="admin">
    
    {% block admin_menu %}
        {% include 'AqpglugCodemedoBundle:Admin:menu.html.twig' %}
    {% endblock admin_menu %}
    
    {% if app.session.hasFlash('error') %}
        <div id="flash_error" class="icontext warning">{{ app.session.flash('error') }}</div>
    {% endif %}
    {% if app.session.hasFlash('notice') %}
        <div id="flash_notice" class="icontext info">{{ app.session.flash('notice') }}</div>
    {% endif %}

    {% block admin %}
    {% endblock admin %}
</div>
{% endblock %}
