{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}

{% for type, label in get_labels %}
    <a href="{{ path('_admin_list', {'type': type }) }}" >{{ label }}</a>
{% endfor %}

{% block admin %}
{% endblock %}

{% endblock %}
