{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block title %}
{{parent()}}
{% if page.slug != get_home %} | {{ page.title }}{% endif %}
{% endblock %}

{% block content %}
<div class="page">
    {{ page.content|raw }}
</div>
{% endblock %}
