{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}
{% block title %} Proyectos {% endblock %} 
{% block content %}
    <ul>
    {% for project in projects%}
        <li><a href="{{ project.metadata }}">{{ project.title }}</a>
            <p>{{ project.content }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}